<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../../vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="inputing">
        <ul>
            <li v-for="g in mylist">
                {{g}}
            </li>
        </ul>
    </div>

    <script>
        let vm = new Vue({
            el:"#app",
            data:{
                inputing:'',
                list:['a','ab','ac','acd','cde']
            },
            computed:{
                mylist:function(){
                    return this.list.filter(item =>
                        item.indexOf(this.inputing)>-1
                    )
                }
            }
        })
    </script>
</body>
</html>