<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../vue.js"></script>
</head>
<body>
    <div id="app">
        <h3>popstarts</h3>
        <ul>
            <li v-for="item in popstarts">
                {{item}}
            </li>
        </ul>
        <h3>detail</h3>
        <ul>
            <li v-for="item,key in detail">
                <h4>key: {{key}}</h4>
                <h4>name: {{item.name}}</h4>
                <h4>age: {{item.age}}</h4>
            </li>
        </ul>
    </div>
        
    <script>
        let app = new Vue({
            el:"#app",
            data:{
                popstarts:["postmalone","drake","juicewrld","theweeknd"],
                detail:[
                    {
                        name:"postmalone",
                        age:16
                    },
                    {
                        name:"drake",
                        age:11
                    },
                    {
                        name:"juicewrld",
                        age:19
                    }
                ]
            }
        })
    </script>
</body>
</html>