<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../../vue.js"></script>
</head>

<body>
    <div id="app">
        <li v-for="item in evenNumber">{{item}}</li>
        <li v-for="item in even(numbers)">{{item}}</li>
    </div>

    <script>

        let vm = new Vue({
            el: "#app",
            data: {
                numbers: [1, 2, 3, 4, 5]
            },
            computed: {
                evenNumber: function () {
                    return this.numbers.filter(function (number) {
                        return number % 2 === 0
                    })
                }
            },
            methods: {
                even: function (numbers) {
                    return numbers.filter(function (number) {
                        return number % 2 === 0
                    })
                }
            }
        })
    </script>
</body>

</html>